* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-item {
  color: white;
}
.navbar-toggler {
  color: white;
}
.header {
  display: flex !important;
  justify-content: space-between;
}
.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
}
.nav-item {
  margin: 0 15px;
}
.banner-wrapper {
  width: 100%;
  padding: 100px 0 125px;
  background: black !important;
  position: relative;
}
.banner-wrapper .row .text-tag {
    font-weight: 700;
    font-size: 126px;
    line-height: 175px;
    border-radius: 5%;
    animation: float 2s ease-in-out infinite;

}
.banner-wrapper .row .image{
    
    z-index: 1000;
    
    width: 50%;

}
.arrow{
    position: relative;
    top: 50px;
}
