*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-item{
    color: white;
}
.navbar-toggler {
    color: white;
}
.header{
    display: flex !important;
    justify-content: space-between;
}
.navbar-expand-lg .navbar-collapse{
    justify-content: flex-end;
}